@page "/host"

<h1>这是节点管理页面</h1>



@if (Vars.NodeList != null)
{

    @foreach (var item in Vars.NodeList["data"])
    {
        nodename = item["node"].ToString();
        string nodestatus = item["status"].ToString();
        string nodecpus = "未知";
        string nodememory = "未知";
        if (nodestatus == "online")
        {
            nodecpus = item["maxcpu"].ToString();
            long nodememorys = long.Parse(item["maxmem"].ToString());
            nodememorys = nodememorys / 1000 / 1000 / 1000;
            nodememory = nodememorys.ToString() + "G";
        }

        <div class="content">
            <div class="cst-1">
                <p>节点列表为： @nodename , 状态为：@nodestatus ，cpu数量为：@nodecpus , 内存大小为：@nodememory ip地址为：@nodeip </p>
            </div>

        </div>

    }

    <div class="st-3">
        <button class="empty">查看节点ip</button>
    </div>

}
else
{

    <div class="st-3">
        <button class="empty">请登录</button>
    </div>

}
@code{
    public static string? nodeip;
    public static string? nodename;

    protected override async Task OnInitializedAsync()
    {
        nodeip = await GetNodeIp(nodename);
    }

    public static async Task<string> GetNodeIp(string nodename)
    {
        var client = new PveClient(Vars.Host,Vars.HostPort);
        string result = "";
        if (await client.Login(Vars.UserName, Vars.UserPassword, Vars.UserDomain))
        {
            var res = await client.Get("/cluster/status");
            string datas = JsonConvert.SerializeObject(res.ResponseToDictionary, Newtonsoft.Json.Formatting.Indented);
            JObject tempdata = JObject.Parse(datas);
            foreach (var id in tempdata["data"])
            {
                if (id["name"].ToString() == nodename)
                {
                    result = id["ip"].ToString();
                }

            }
        }
        return result;
    }
}