@page "/"

<h1>Hello, world!</h1>

欢迎使用PveAdmin

<div class="line">
    <button class="empty" @onclick="@GetNode">点击登陆</button>
</div>


@code{

    public async static void GetNode()
        {
            if (await Options.GetResAsync()) {
                await Application.Current.MainPage.DisplayAlert("登陆成功", "请继续", "确定");
            }
    }


    }